<% if current_user!= user %>
	<div class="user-<%= user.id %>">

		<div id="follow_form">
			<% if current_user.follows?(user) %>
				<%= render 'shared/unfollow', user: user %>
			<% else %>
				<%= render 'shared/follow', user: user %>
			<% end %>
		</div>
	</div>
<% end %>

