<% if user_signed_in? %>

		<div id="like_form">
			<% if current_user.likes?(likeable) %>
				<%= render 'shared/unlike', likeable: likeable %>
			<% else %>
				<%= render 'shared/like', likeable: likeable  %>
			<% end %>
	</div>
<% end %>

