// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.name {
	color: #fff;
}
form{
	font-size: 20px;
}
.profile{
    width: 70px;
    height: 55px;
    float: left;
    padding: 4px;
}
.like{
    color: #990033;
    font-weight: bold;
    padding: 5px;
    float: right;
}
.unlike{
    color: #393f4c;
    font-weight: bold;
    padding: 5px;
    float: right;
}
.comments{
    float: left;
    padding: 5px;
}
.user-box{
    padding: 10px;
}
.likes{
    padding: 5px;
}
.like_post{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.like_profile{
    width: 30px;
    height: 30px;
    float: left;
    padding: 4px;
}
.profile_post{
    float: left;
    padding: 4px;
    width: 40px;
    height: 40px;
}

.activity_feed{
    padding: 4px;
    border-top: 1px solid #eaeaea;
}
.feed{
    padding-top: 90px;
}
.user{
    padding: 4px;

    border-top: 1px solid #eaeaea;
}
