// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.name {
	color: #fff;
}
form{
	font-size: 20px;
}
.profile{
    width: 70px;
    height: 55px;
    float: left;
}
