<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
		<h4><%= link_to "Rails book", root_path %></h4>
		</li>
	</ul>
	<section class="top-bar-section">
	<%if user_signed_in? %>
		<ul class="right">
			<li><%= link_to 'Profile', current_user %> </li>
			<li class="divider"></li>
			<li><%= link_to 'Edit', edit_user_registration_path %></li>
			<li class="divider"></li>
			<li><%= link_to 'Sign out', destroy_user_session_path , method: :delete %></li>
		</ul>
	<% end %>
	</section>
</nav>
