<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
		<h4><%= link_to "Rails book", root_path %></h4>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
		</ul>
	</section>
</nav>
